/** global styling **/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282725;
}

li {
    list-style: none;
    list-style-type: none;
}

a {
    color: greenyellow;
}

a>.nav-link {
    list-style: none;
    list-style-type: none;
    padding: .5em;
    padding-top: 0em;
    transition: color 1.5s;
}


/** header styling **/

img[src="img/header.png"] {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}


/** nav styling **/

.nav-icon {
    display: none;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: left;
    padding-left: 1em;
    margin-top: auto;
    font-family: lithos-pro, sans-serif;
    text-shadow: .2vw .2vw .5vw #1b1b19;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8vw;
    color: #ffffff;
}

.nav-link {
    list-style: none;
    list-style-type: none;
    padding: .5em;
    padding-top: 0em;
    transition: color 1.5s;
}

.nav-link:hover {
    color: greenyellow;
    cursor: pointer;
    animation-name: abduction;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes abduction {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    10% {
        transform: scale(1, 1);
    }
    100% {
        transform: translate(0, -.3em) scale(1, 1.2);
    }
}

.nav-flex {
    display: flex;
}

.nav-none {
    display: none;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/** body styling **/

.main-content {
    display: flex;
    flex-direction: row;
    margin: auto -1rem 1rem;
}

.column {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}


/** news ticker styling **/

#news-ticker {
    margin-left: 2rem;
    padding-right: 0;
    flex: 1;
    border-style: none none none solid;
    border-color: #ffffff;
}

#news-ticker-news {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
    border-style: none solid none solid;
    border-color: #ffffff;
}

.news-header {
    font-family: lithos-pro, sans-serif;
    color: #ffffff;
    text-shadow: .1em .1em #282725;
    text-align: left;
    font-size: 2vw;
    margin: 0;
    margin-bottom: .5em;
    padding: 0.5em;
    background-color: gray;
}

.news-clip-list {
    max-height: 50em;
    text-align: left;
    padding: 1rem;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.news-clip-list::-webkit-scrollbar {
    width: .8em;
}

.news-clip-list::-webkit-scrollbar-track {
    background-color: #282725;
    box-shadow: inset 0 0 .2em darkgray;
}

.news-clip-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.news-clip-list::-webkit-scrollbar-button {
    background-color: gray;
}

.clip-title {
    text-decoration: underline;
    margin-bottom: 0;
    font-family: lithos-pro, sans-serif;
    font-style: normal;
    color: #ffffff;
}

.clip-title:hover {
    color: greenyellow;
    cursor: pointer;
    transition: 1s;
}

.clip-body {
    margin-top: .2em;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    line-height: 1.3;
}

.news-footer {
    font-family: lithos-pro, sans-serif;
    color: #ffffff;
    text-shadow: .1em .1em #282725;
    text-align: center;
    font-size: 2vw;
    background-color: gray;
    background-size: contain;
    padding: 0.5em;
    margin-top: 1vw;
}

#news-footer-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-footer:hover {
    color: greenyellow;
    cursor: pointer;
    transition: 1s;
}


/** blog entries styling **/

#blog-entries {
    margin-left: 0.5rem;
    margin-right: 2rem;
    padding: 1rem;
    flex: 3;
    border-style: none solid none solid;
    border-color: #ffffff;
}

#blog-entries-full {
    margin-left: 2rem;
    margin-right: 2rem;
    border-style: none solid none solid;
    border-color: #ffffff;
}

.blog-header {
    font-family: lithos-pro, sans-serif;
    font-size: 2vw;
    color: #ffffff;
    text-shadow: .1em .1em #282725;
    text-align: left;
    margin: 0;
    margin-bottom: .5em;
    padding: 0.5em;
    background-color: gray;
}

.blog-entry-list {
    max-height: 50em;
    font-family: lithos-pro, sans-serif;
    font-style: normal;
    color: #ffffff;
    text-align: left;
    padding: 1rem;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.blog-entry-list::-webkit-scrollbar {
    width: .8em;
}

.blog-entry-list::-webkit-scrollbar-track {
    background-color: #282725;
    box-shadow: inset 0 0 .2em darkgray;
}

.blog-entry-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.blog-entry-list::-webkit-scrollbar-button {
    background-color: gray;
}

.blog-entry {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr repeat(2, 1fr) 0.1fr;
    grid-area: fit-content;
}

.blog-entry-title {
    grid-area: 1 / 1 / 2 / 5;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 0;
}

.blog-timestamp {
    grid-area: 1 / 5 / 2 / 6;
    text-align: right;
    margin-bottom: 0;
}

.blog-body {
    grid-area: 2 / 1 / 4 / 4;
    text-align: left;
    margin-top: .5vw;
    margin-bottom: 1vw;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    line-height: 1.3;
}

.blog-img {
    grid-area: 2 / 4 / 4 / 6;
    width: 95%;
    margin: 1vw;
    padding-right: 2vw;
}

.blog-spacer {
    grid-area: 4 / 1 / 5 / 6;
    padding-bottom: 2vw;
    border-bottom: #ffffff dashed;
}

.blog-footer {
    font-family: lithos-pro, sans-serif;
    color: #ffffff;
    text-shadow: .1em .1em #282725;
    text-align: center;
    font-size: 2vw;
    background-color: gray;
    background-size: contain;
    padding: 0.5em;
    margin-top: 1vw;
}

.blog-footer-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.blog-footer:hover {
    color: greenyellow;
    cursor: pointer;
    transition: 1s;
}


/**Form Styling**/

.form-header {
    font-family: lithos-pro, sans-serif;
    font-size: 2vw;
    color: #ffffff;
    text-shadow: .1em .1em #282725;
    text-align: center;
    margin: 0;
    margin-bottom: .5em;
    padding: 0.5em;
    background-color: gray;
}

#form-entries-full {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    border-style: none solid none solid;
    border-color: #ffffff;
}

.form-footer {
    font-family: lithos-pro, sans-serif;
    color: #ffffff;
    text-shadow: .1em .1em #282725;
    text-align: center;
    font-size: 1.2vw;
    background-color: gray;
    background-size: contain;
    padding: 0.5em;
    margin-top: 1vw;
}

.form-footer-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-footer:hover {
    color: greenyellow;
    cursor: pointer;
    transition: 1s;
}


/** footer styling **/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: left;
    margin-top: auto;
}

#footer-item {
    font-family: lithos-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8vw;
    color: #ffffff;
}

#footer-item:hover {
    color: greenyellow;
    cursor: pointer;
    transition: 1s;
    animation-name: abduction;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


/**Flip animation referenced and modified from https://www.w3schools.com/howto/howto_css_flip_card.asp**/

.flip-card {
    font-family: lithos-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1vw;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    width: 20vw;
    height: 10vw;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 1.5vw;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transition-delay: 1s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}


/** copyright styling **/

.copy {
    font-family: lithos-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1vw;
    text-align: center;
    color: #ffffff;
    padding-top: 5vw;
}


/**Tracker Styling**/

.parent {
    display: grid;
    grid-template-columns: repeat(14, 5.6vw);
    grid-template-rows: repeat(12, 2.5vw);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin-left: 5.6vw;
    margin-right: 10vw;
    margin-top: 1vw;
}

.tracker-grid {
    border-style: solid;
    border-color: #ffffff;
    border-width: .1vw;
    font-family: lithos-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1vw;
    text-align: center;
    color: #ffffff;
}

#div1 {
    grid-area: 1 / 1 / 3 / 5;
    border-style: none;
}

#active {
    max-width: 100%;
}

#div2 {
    grid-area: 1 / 5 / 3 / 11;
    border-radius: 3vw;
}

#div2-parent {
    display: grid;
    grid-template-columns: 2fr .1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: muli, sans-serif;
    font-size: 1.7vw;
    color: white;
}

#div2-1 {
    grid-area: 1 / 1 / 2 / 2;
    color: white;
}

#div2-2 {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 3vw;
    margin-top: -1.2vw;
    color: white;
}

#div2-3 {
    grid-area: 1 / 3 / 2 / 4;
    color: white;
}

#div3 {
    grid-area: 1 / 11 / 3 / 15;
    border-style: none;
}

#audio {
    max-width: 100%;
}

#div4 {
    grid-area: 3 / 1 / 11 / 8;
}

.anomaly {
    height: 8vw;
    width: 8vw;
    margin-bottom: 15vw;
    margin-top: -18vw;
    background-color: #282725;
    border-radius: 50%;
    border-style: solid;
    border-width: .05vw;
    border-color: #ffffff;
    display: inline-block;
    animation-name: anomaly;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 7.5s;
}

@keyframes anomaly {
    0% {
        height: 8vw;
        width: 8vw;
        margin-left: -1vw;
        margin-top: -19vw;
    }
    20% {
        height: 7.5vw;
        width: 7.5vw;
        margin-top: -18vw;
    }
    35% {
        height: 8vw;
        width: 8vw;
        margin-left: 0vw;
    }
    50% {
        height: 7.5vw;
        width: 7.5vw;
        margin-top: -19vw;
        margin-left: 1vw;
    }
    65% {
        height: 8vw;
        width: 8vw;
        margin-left: 2vw;
    }
    80% {
        height: 7.5vw;
        width: 7.5vw;
        margin-left: -1vw;
    }
    100% {
        height: 6.5vw;
        width: 6.5vw;
        margin-left: 1vw;
    }
}

#hud {
    max-height: 100%;
}

#detected {
    max-height: 100%;
}

#div5 {
    grid-area: 11 / 1 / 13 / 8;
}

.div5-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div5-inner {
    border-style: solid;
    border-width: .1vw;
    border-color: #ffffff;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: .8vw;
    text-align: right;
    vertical-align: text-bottom;
    padding-top: 4.8vw;
    padding-right: 0.4vw;
    color: #ffffff;
}

.meter-1 {
    height: 3.2vw;
    width: 10vw;
    align-self: center;
    margin-top: -8.5vw;
    background-color: greenyellow;
    animation-name: meter-1;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

@keyframes meter-1 {
    0% {
        width: 10vw;
        background-color: greenyellow;
    }
    20% {
        width: 15vw;
        background-color: greenyellow;
    }
    80% {
        width: 35vw;
        background-color: yellow;
    }
    100% {
        width: 42vw;
        background-color: red;
    }
}

#div5-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#div5-2 {
    grid-area: 1 / 2 / 2 / 4;
}

#div5-3 {
    grid-area: 1 / 4 / 2 / 7;
}

#div5-4 {
    grid-area: 1 / 7 / 2 / 11;
}

#div5-5 {
    grid-area: 1 / 11 / 2 / 16;
}

#div6 {
    grid-area: 3 / 8 / 5 / 12;
}

#waveform {
    max-width: 100%;
    z-index: -1;
}

.meter-5 {
    display: inline-block;
    background-color: gray;
    width: 0.15vw;
    height: 5.85vw;
    position: relative;
    top: -6.35vw;
    animation-name: meter-5;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

@keyframes meter-5 {
    0% {
        margin-left: -25vw;
    }
    100% {
        margin-left: 25vw;
    }
}

#div7 {
    grid-area: 5 / 8 / 7 / 12;
}

#div8 {
    grid-area: 7 / 8 / 10 / 9;
    background-color: #ffffff;
}

.meter-2 {
    display: inline-block;
    background-color: #282725;
    width: 5.4vw;
    height: .1vw;
    animation-name: meter-2;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 50s;
}

@keyframes meter-2 {
    0% {
        height: 3vw;
    }
    20% {
        height: 6vw;
    }
    80% {
        height: 2vw;
    }
    100% {
        height: 4vw;
    }
}

#div9 {
    grid-area: 7 / 9 / 10 / 10;
}

.meter-3 {
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    width: 5.4vw;
    height: 5vw;
    animation-name: meter-3;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}

@keyframes meter-3 {
    0% {
        height: 3vw;
        background-color: white;
    }
    20% {
        height: 6vw;
    }
    80% {
        height: 2vw;
    }
    100% {
        height: 4vw;
    }
}

#div10 {
    grid-area: 7 / 10 / 10 / 11;
}

.meter-4 {
    background-color: white;
    width: 5.3vw;
    height: .1vw;
    animation-name: meter-4;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes meter-4 {
    0% {
        margin-top: 2vw;
    }
    100% {
        margin-top: 8vw;
    }
}

#div11 {
    grid-area: 10 / 8 / 11 / 11;
    border: #282725;
}

#div11-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 0px;
    margin-top: .5vw;
    animation: rotate-all 2s 0 infinite linear alternate;
}

#div11-1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 1.5vw;
    height: 1.5vw;
    background: #282725;
    box-shadow: .25vw .25vw 0vw white;
    position: relative;
    margin: auto;
    animation: square-to-circle 60s infinite cubic-bezier(0.165, 0.84, 0.44, 1) alternate-reverse;
}

#div11-2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 1.5vw;
    height: 1.5vw;
    background: #282725;
    box-shadow: .25vw .25vw 0vw white;
    position: relative;
    margin: auto;
    animation: square-to-circle2 45s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse;
}

#div11-3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 1.5vw;
    height: 1.5vw;
    background: #282725;
    box-shadow: .25vw .25vw 0vw white;
    position: relative;
    margin: auto;
    animation: square-to-circle 30s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate-reverse;
}

#div11-4 {
    grid-area: 1 / 4 / 2 / 5;
    width: 1.5vw;
    height: 1.5vw;
    background: #282725;
    box-shadow: .25vw .25vw 0vw white;
    position: relative;
    margin: auto;
    animation: square-to-circle3 10s infinite cubic-bezier(0.215, 0.610, 0.355, 1) alternate-reverse;
}

#div11-5 {
    grid-area: 1 / 5 / 2 / 6;
    width: 1.5vw;
    height: 1.5vw;
    background: #282725;
    box-shadow: .25vw .25vw 0vw white;
    position: relative;
    margin: auto;
    animation: square-to-circle2 5s infinite cubic-bezier(1, .015, .295, 1.225) alternate-reverse;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(45deg);
    }
    25% {
        border-radius: 50% 0 0 0;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(135deg);
    }
    50% {
        border-radius: 50% 50% 0 0;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(180deg);
    }
    75% {
        border-radius: 50% 50% 50% 0;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(315deg);
    }
    100% {
        border-radius: 0%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(404deg);
    }
}

@keyframes square-to-circle2 {
    0% {
        border-radius: 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(45deg);
    }
    25% {
        border-radius: 0 0 50% 0;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(135deg);
    }
    50% {
        border-radius: 0 0 50% 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(180deg);
    }
    75% {
        border-radius: 50% 0 50% 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(315deg);
    }
    100% {
        border-radius: 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(404deg);
    }
}

@keyframes square-to-circle3 {
    0% {
        border-radius: 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(45deg);
    }
    25% {
        border-radius: 0 0 50% 0;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(135deg);
    }
    50% {
        border-radius: 0 0 50% 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(404deg);
    }
    75% {
        border-radius: 50% 0 50% 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(315deg);
    }
    100% {
        border-radius: 50%;
        box-shadow: .25vw .25vw 0vw white;
        transform: rotate(180deg);
    }
}

#div12 {
    grid-area: 11 / 8 / 13 / 11;
    border-radius: 1vw;
    font-family: lithos-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

#time-text {
    margin-top: 0.8vw;
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
}

#timer {
    margin-top: 0.7vw;
    margin-bottom: 0.5vw;
    font-size: 1.5vw;
}

#div13 {
    grid-area: 3 / 12 / 7 / 15;
}

#grid {
    max-height: 100%;
    z-index: 1;
}

#ship {
    max-width: 2vw;
    position: relative;
    z-index: 1;
    margin-top: -5vw;
    margin-right: -13vw;
    margin-bottom: 3vw;
    animation-name: ship;
    animation-timing-function: ease-in-out;
    animation-duration: 45s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes ship {
    0% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 0%;
    }
    .5% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 100%;
    }
    1% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 0%;
    }
    1.5% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 100%;
    }
    2% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 0%;
    }
    2.5% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 100%;
    }
    3% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 0%;
    }
    3.5% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
        opacity: 100%;
    }
    5% {
        margin-top: -5vw;
        margin-right: -13vw;
        margin-bottom: 3vw;
    }
    15% {
        margin-top: -5vw;
        margin-right: 1vw;
        margin-bottom: 3vw;
        transform: rotate(0deg);
    }
    20% {
        margin-top: -5vw;
        margin-right: 1vw;
        margin-bottom: 3vw;
        transform: rotate(90deg);
    }
    30% {
        margin-top: -10vw;
        margin-right: 1vw;
        margin-bottom: 10vw;
        transform: rotate(90deg);
    }
    40% {
        margin-top: -10vw;
        margin-right: 1vw;
        margin-bottom: 10vw;
        transform: rotate(0deg);
    }
    50% {
        margin-top: -10vw;
        margin-right: 10vw;
        margin-bottom: 10vw;
        transform: rotate(0deg);
    }
    60% {
        margin-top: -10vw;
        margin-right: 10vw;
        margin-bottom: 10vw;
        transform: rotate(-90deg);
    }
    70% {
        margin-top: -7vw;
        margin-right: 10vw;
        margin-bottom: 7vw;
        transform: rotate(-90deg);
    }
    80% {
        margin-top: -7vw;
        margin-right: 10vw;
        margin-bottom: 7vw;
        transform: rotate(-180deg);
    }
    90% {
        margin-top: -7vw;
        margin-right: 3vw;
        margin-bottom: 7vw;
        transform: rotate(-180deg);
        opacity: 100%;
    }
    95% {
        margin-top: -7vw;
        margin-right: 3vw;
        margin-bottom: 7vw;
        transform: rotate(-270deg);
        opacity: 100%;
    }
    96% {
        margin-top: -8vw;
        margin-right: 3vw;
        margin-bottom: 8vw;
        transform: rotate(-270deg);
        opacity: 0%;
    }
    96.5% {
        margin-top: -9vw;
        margin-right: 3vw;
        margin-bottom: 9vw;
        transform: rotate(-270deg);
        opacity: 100%;
    }
    97% {
        margin-top: -10vw;
        margin-right: 3vw;
        margin-bottom: 10vw;
        transform: rotate(-270deg);
        opacity: 0%;
    }
    100% {
        margin-top: -10vw;
        margin-right: 3vw;
        margin-bottom: 10vw;
        transform: rotate(-270deg);
        opacity: 0%;
    }
}

#div14 {
    grid-area: 7 / 11 / 13 / 15;
    border-radius: 1vw;
    font-family: muli, sans-serif;
    text-align: left;
    font-size: 1.2vw;
    padding-left: 1vw;
}

#div14>h2 {
    font-size: 2.8vw;
    color: greenyellow;
    margin-bottom: .2vw;
    margin-top: 1vw;
}

#energy {
    color: greenyellow;
}

#weapons {
    font-size: 1.4vw;
    padding-left: 0.5vw;
    margin-bottom: 1vw;
    text-align: left;
    animation-name: weapons;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes weapons {
    from {
        color: #ffffff;
    }
    to {
        color: red;
    }
}


/** Reporting Form Style**/

.form {
    margin: 0vw 15vw 0vw 15vw;
    border-style: none solid;
    padding: 0 5vw 0 5vw;
    border-color: white;
    align-content: center;
}

#form-title {
    font-family: muli, sans-serif;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: .2vw .2vw .5vw #1b1b19;
    color: white;
    margin-bottom: 4vw;
}

form>label {
    font-family: muli, sans-serif;
    font-size: 1.2vw;
    color: white;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: muli, sans-serif;
    font-size: 1.2vw;
    background-color: greenyellow;
    color: #282725;
    padding: 1vw 2vw;
    border: none;
    border-radius: .5vw;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #282725;
    padding: 20px;
}


/**Media box for screens < 800px**/

@media only screen and (max-width: 800px) {
    .nav-icon {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        justify-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
    }
    nav>ul {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        font-family: lithos-pro, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 3vw;
        color: #ffffff;
    }
    #nav-link-list {
        display: none;
        justify-items: center;
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 0;
        padding-left: 0;
    }
    .main-content {
        flex-direction: column-reverse;
    }
    #news-ticker {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-right: 0;
        flex: 1;
        border-style: none none none none;
    }
    #blog-entries {
        margin-left: 2rem;
        margin-right: 2rem;
        flex: 3;
        border-style: none none none none;
    }
    .blog-header {
        font-family: lithos-pro, sans-serif;
        font-size: 4vw;
        color: #ffffff;
        text-shadow: .1em .1em #282725;
        text-align: center;
        margin: 0;
        margin-bottom: .5em;
        padding: 0.5em;
        background-color: gray;
    }
    .blog-entry {
        display: inline;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, .2fr) repeat(2, 1fr) .1fr;
        grid-area: auto;
    }
    .blog-entry-title {
        text-align: left;
        text-decoration: underline;
        margin-bottom: 0;
    }
    .blog-timestamp {
        text-align: left;
        margin-bottom: 0;
    }
    .blog-body {
        text-align: left;
        margin-top: .5vw;
        margin-bottom: 1vw;
        font-family: muli, sans-serif;
        font-weight: 400;
        font-style: italic;
        color: #ffffff;
        line-height: 1.3;
    }
    .blog-img {
        width: 95%;
        margin: 1vw;
        padding-right: 2vw;
    }
    .blog-spacer {
        padding-bottom: 2vw;
        border-bottom: #ffffff dashed;
    }
    .news-header {
        font-family: lithos-pro, sans-serif;
        color: #ffffff;
        text-shadow: .1em .1em #282725;
        text-align: center;
        font-size: 4vw;
        margin: 0;
        margin-bottom: .5em;
        padding: 0.5em;
        background-color: gray;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    #footer-item {
        font-family: lithos-pro, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 4vw;
        color: #ffffff;
    }
    .flip-card {
        font-family: lithos-pro, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 2.5vw;
        color: #ffffff;
        text-align: center;
        background-color: transparent;
        width: 100vw;
        height: 30vw;
        perspective: 1000px;
    }
    .copy {
        font-family: lithos-pro, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2vw;
        text-align: center;
        color: #ffffff;
        padding-top: 5vw;
    }
}

@media (min-width: 801px) {
    #nav-link-list {
        display: flex;
    }
}